<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update user</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container">
            <h2>Update user</h2>
            <form class="row g-3" action="/update" method="POST">
                <div class="col-md-6">
                    <label for="inputFirstName4" class="form-label"
                        >First Name</label
                    >
                    <input
                        type="Text"
                        class="form-control"
                        id="inputFirstName4"
                        name="firstName"
                        value="<%= dataUser.firstName %>"
                    />
                </div>
                <div class="col-md-6">
                    <label for="inputLastNamel4" class="form-label"
                        >Last Name</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="inputLastName4"
                        name="lastName"
                        value="<%= dataUser.lastName %>"
                    />
                </div>
                <div class="col-md-6">
                    <label for="inputAddress4" class="form-label"
                        >Address</label
                    >
                    <input
                        type="Text"
                        class="form-control"
                        id="inputAddress4"
                        name="address"
                        value="<%= dataUser.address %>"
                    />
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="inputEmail4"
                        name="email"
                        value="<%= dataUser.email %>"
                    />
                </div>
                <input
                    type="text"
                    value="<%= dataUser.id %>"
                    hidden
                    name="id"
                />
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">save</button>
                </div>
            </form>
        </div>
    </body>
</html>
